- classes = {notready: 'info', open: 'success', closed: 'danger', final: 'warning'}
- words   = {notready: 'Not ready', open: 'Open', closed: 'Closed', final: 'Final'}
=haml :team_info
%table.table.table-bordered
  %thead
    %th Number
    %th Opponent
    %th Time
    %th status
  %tbody
  - @team.games.each do |g|
    %tr{class: classes[g.status_public]}
      %td
        %a{href: "/admin/#{@team.code}/games/#{g.number}/"}= g.number
      %td
        %a{href: "/admin/#{@team.code}/games/#{g.number}/"}= g.opponent
      %td= g.time
      %td= words[g.status_public]

%h3 Standings
%table.table.table-condensed
  %thead
    %th Rank
    %th Points
    %th Poster
    %th Point total from games
  %tbody
    - @team.rankings.each do |season|
      %tr
        %td= season.rank
        %td= season.rank_points
        %td= season.user.name
        %td= season.points
