
%p= @team.status
/ %br
- if @team.status_code.zero?
  %a{href: "#{@base_url}#{@team.code}/open"} Open for signup and play
- elsif @team.status_code == 1
  Team is open for signups.
  %br
  %a{href: "#{@base_url}#{@team.code}/close"} Close signups
- elsif @team.status_code == 2 and @team.next_game.nil?
  Signups are closed and season is over.
  %br
  %a{href: "#{@base_url}#{@team.code}/finalize"} Finalize team and season
- elsif @team.status_code == 2 #and @team.next_game.nil?
  Signups are closed but season is still in progress


%table
  %thead
    %th Number
    %th Opponent
    %th Time
    %th status
  - @team.games.each do |g|
    %tr
      %td
        %a{href: "/admin/#{@team.code}/games/#{g.number}/"}= g.number
      %td
        %a{href: "/admin/#{@team.code}/games/#{g.number}/"}= g.opponent
      %td= g.time
      %td= g.status


%h3 Standings
%table
  %thead
    %th Rank
    %th Points
    %th Poster
    %th Point total from games
  %tbody
    - @team.rankings.each do |season|
      %tr
        %td= season.rank
        %td= season.rank_points
        %td= season.user.name
        %td= season.points
