%table.table.table-bordered
  %thead
    %th #
    %th Opponent
    %th Time
    %th Picks
  %tr
    %td= @game.number
    %td= @game.opponent
    %td= @game.gametime
    %td
      - if @pickset = @season.picksets.find_by(game: @game)
        %a.btn.btn-warning{ href: "/#{@team.code}/games/#{@game.number}/"} Update Picks
      - else
        %a.btn.btn-success{ href: "/#{@team.code}/games/#{@game.number}/"} Make Picks!

%br
