- if @current_user
  - if @current_user.admin?
    %li
      %a{ href: '/admin/' } Admin Area
    %li
      %a.active{href: '/'} Currently in User Area
    - if @team
      %li
        %a{ href: "/admin/#{@team.code}/" } Team Management
  - else
    %li
      %a{href: '/'} Dashboard
  %li
    %a{ href: '/' } Teams
  - if @team
    %li
      %a{ href: "/#{@team.code}/" }= "#{@team.year} #{@team.sport.to_s.capitalize}"
    %li
      %a{ href: "/#{@team.code}/standings" } Standings
    %li
      %a{ href: "/#{@team.code}/rules"} Rules
  %li
    %a{ href: '/auth/logout' } Log Out
- else
  %li
    %h3 Log in
    %form{ action:'/auth/login', method: :post }
      %input{ type: 'text', name: 'id', placeholder: 'name' }
      %input{ name: 'password', type: 'password', placeholder: 'password' }
      %br
      %br
      %input{ name: 'remember', type: 'checkbox' }
      Remember Me
      %br
      %br
      %button.btn.btn-default.btn-sm{ type: 'submit' } Log In
