
- if @team.open_games.empty?
  .next
    %h3 Next Game
    - @game = @team.next_game
    =haml :game_info
- else
  .open
  %h3 Open Games
  - @team.open_games.each do |g|
    - @game = g
    =haml :game_info
    %a{href: "/#{@team.code}/games/#{g.number}/"} Make Picks

%table
  %thead
    %th Number
    %th Opponent
    %th Time
    %th status
  - @team.games.each do |g|
    %tr
      %td
        %a{href: "/#{@team.code}/games/#{g.number}/"}= g.number
      %td= g.opponent
      %td= g.time
      %td= g.status

