%p Game has been finalized. Nothing to do now.
%br
%a{href: '#board_text'} Jump to text for board post of results.
%br
%a.btn.btn-primary{href: "status/next"} #OnToTheNextOne

%h2 Results
%table.table.table-bordered.table-striped.table-condensed
  %thead
    %th Rank
    %th Poster
    %th Points
    %th Tiebreaker
    %th Cost
  %tbody
    - @game.rankings.each do |pick|
      %tr
        %td= pick.rank
        %td= pick.season.user.name
        %td= pick.points
        %td= pick.difference
        %td= pick.cost

%a{name: 'board_text'}
%h4 Below is text to be posted
%pre= Forum::Post.new(:results, game: @game).data[:message]
