%p Game has been finalized. Nothing to do now.
%a{href: "status/next"} #OnToTheNextOne

%h2 Results
%table
  %thead
    %th Rank
    %th Poster
    %th Points
    %th Tiebreaker
    %th Cost
  %tbody
    - @game.rankings.each do |pick|
      %tr
        %td= pick.rank
        %td= pick.season.user.name
        %td= pick.points
        %td= pick.difference
        %td= pick.cost
