%p Game is ready for pricing.

%form{method: "get", action: "status/price"}
  %input.btn.btn-warning{ type: 'submit', value: 'submit' }
  %table.table.table-condensed.table-striped
    %thead
      %th Number
      %th Last Name
      %th First Name
      %th Average points
      %th Average price
      %th Points / $
      %th= "Price for #{@game.opponent}"
    %tbody
      - @team.players.map { |p| [*p.team_points_price(@team), p.last, p.first, p] }.sort_by(&:first).reverse.each do |arr|
        %tr
          - p = arr.last
          %td= p.number
          %td= p.last
          %td= p.first
          %td= arr.first
          %td= arr[1]
          %td= arr.first / ([arr[1], 1].max)
          %td
            - perf = p.performances.find_by(game: @game._id)
            %input{type: :hidden, name: 'ids[]', value: perf._id}
            %input{type: :number, name: 'dol[]', value: (perf.price == 1 ? nil : perf.price)}
      %br
      %br
